# Manipulation sur MongoDB 

Visitez ce lien pour voir le mapping entre SQL et MongoDb: https://www.mongodb.com/docs/manual/reference/sql-comparison/

## Installation de Pymongo
le pilote officiel pour utiliser MongoDB avec Python

In [2]:
#!pip install pymongo

## Connexion à MongoDB

In [4]:
from pymongo import MongoClient

Pour se connecter à votre MongoDB Cluster, vous devez changer le `username`, le `password` et le nom du `cluster`.

In [ ]:
# Connectez-vous au serveur MongoDB
client = MongoClient(
    "mongodb+srv://username:password@cluster_name.mongodb.net/"
)

Accéder à une base de données spécifique.
Par exemple, ici,nous allons créer une nouvelle database dont le nom est my_data

In [14]:
client.list_database_names()

['sample_mflix', 'admin', 'local']

In [7]:
db = client["my_data"]

## Créer Une Collection

Dans MongoDB, une `collection` est un groupe de documents stockés dans une base de données, similaire à une `table` dans une `base de données relationnelle`.

Cependant, `contrairement` aux tables, les `collections` dans MongoDB n'ont pas de `schéma fixe`, ce qui signifie que chaque document d'une collection peut avoir une `structure différente`, bien que cela soit souvent cohérent pour une utilisation pratique

In [8]:
# Créer ou accéder à une collection appelée `étudiants`
collection = db["students"]

In [10]:
# Vérifiez si la collection existe
print("Collection créée:", "students" in db.list_collection_names())

Collection créée: False

## Insertion de documents

Nous allons apprendre comment insérer des documents simples et multiples dans la collection.

### Insertion Simple

In [15]:
# Insérer un seul document
student1 = {"name": "Ahmed", "age": 20, "matiere": ["Maths", "Data Science"]}
collection.insert_one(student1)

InsertOneResult(ObjectId('672cc7af22125b8bb0ec5b05'), acknowledged=True)

Actualisez votre mongoDB Compass et vérifiez la nouvelle base de données et l'enregistrement de la collection

### Insertion Multiples

In [ ]:
students = [
    {"name": "Rayen", "age": 22, "matiere": ["History", "Art"]},
    {"name": "Youssef", "age": 19, "matiere": ["Maths", "Science"]},
    {"name": "Badis", "age": 30, "CIN":19844110},
]
collection.insert_many(students)

InsertManyResult([ObjectId('672cccc822125b8bb0ec5b06'), ObjectId('672cccc822125b8bb0ec5b07'), ObjectId('672cccc822125b8bb0ec5b08')], acknowledged=True)

## Interrogation de documents
Nous allons apprendre comment interroger des documents à l'aide de filtres de base.

voir les operateurs : https://www.mongodb.com/docs/manual/reference/operator/query/

### Find

In [31]:
# trouver un seul document
print("1 document:", collection.find_one())

1 document: {'_id': ObjectId('672cc7af22125b8bb0ec5b05'), 'name': 'Ahmed', 'age': 20, 'matiere': ['Maths', 'Data Science']}

In [32]:
# trouver tous les documents
for doc in collection.find():
    print(doc)

{'_id': ObjectId('672cc7af22125b8bb0ec5b05'), 'name': 'Ahmed', 'age': 20, 'matiere': ['Maths', 'Data Science']}
{'_id': ObjectId('672cccc822125b8bb0ec5b06'), 'name': 'Rayen', 'age': 22, 'matiere': ['History', 'Art']}
{'_id': ObjectId('672cccc822125b8bb0ec5b07'), 'name': 'Youssef', 'age': 19, 'matiere': ['Math', 'Science']}
{'_id': ObjectId('672cccc822125b8bb0ec5b08'), 'name': 'Badis', 'age': 30, 'CIN': 19844110}

In [33]:
# trouver les etudiants (age = 20)
for doc in collection.find({"age": 20}):
    print(doc)

{'_id': ObjectId('672cc7af22125b8bb0ec5b05'), 'name': 'Ahmed', 'age': 20, 'matiere': ['Maths', 'Data Science']}

In [34]:
# Trouver tous les documents avec une condition spécifique
etudiants_plus_20 = collection.find({"age": {"$gte": 20}})
etudiants_moins_20 = collection.find({"age": {"$lte": 20}})

In [35]:
for student in etudiants_plus_20:
    print(student)

{'_id': ObjectId('672cc7af22125b8bb0ec5b05'), 'name': 'Ahmed', 'age': 20, 'matiere': ['Maths', 'Data Science']}
{'_id': ObjectId('672cccc822125b8bb0ec5b06'), 'name': 'Rayen', 'age': 22, 'matiere': ['History', 'Art']}
{'_id': ObjectId('672cccc822125b8bb0ec5b08'), 'name': 'Badis', 'age': 30, 'CIN': 19844110}

In [36]:
for student in etudiants_moins_20:
    print(student)

{'_id': ObjectId('672cc7af22125b8bb0ec5b05'), 'name': 'Ahmed', 'age': 20, 'matiere': ['Maths', 'Data Science']}
{'_id': ObjectId('672cccc822125b8bb0ec5b07'), 'name': 'Youssef', 'age': 19, 'matiere': ['Math', 'Science']}

In [37]:
# trouver les etudiants Ahmed et Rayen
for doc in collection.find({"name": {"$in": ["Ahmed", "Rayen"]}}):
    print(doc)

{'_id': ObjectId('672cc7af22125b8bb0ec5b05'), 'name': 'Ahmed', 'age': 20, 'matiere': ['Maths', 'Data Science']}
{'_id': ObjectId('672cccc822125b8bb0ec5b06'), 'name': 'Rayen', 'age': 22, 'matiere': ['History', 'Art']}

In [38]:
# trouver tous les etudiants sauf Ahmed et Rayen
for doc in collection.find({"name": {"$nin": ["Ahmed", "Rayen"]}}):
    print(doc)

{'_id': ObjectId('672cccc822125b8bb0ec5b07'), 'name': 'Youssef', 'age': 19, 'matiere': ['Math', 'Science']}
{'_id': ObjectId('672cccc822125b8bb0ec5b08'), 'name': 'Badis', 'age': 30, 'CIN': 19844110}

In [39]:
# trouver les etudiants qui n'ont pas 20 ans
for doc in collection.find({"age": {"$not": {"$eq": 20}}}):
    print(doc)

{'_id': ObjectId('672cccc822125b8bb0ec5b06'), 'name': 'Rayen', 'age': 22, 'matiere': ['History', 'Art']}
{'_id': ObjectId('672cccc822125b8bb0ec5b07'), 'name': 'Youssef', 'age': 19, 'matiere': ['Math', 'Science']}
{'_id': ObjectId('672cccc822125b8bb0ec5b08'), 'name': 'Badis', 'age': 30, 'CIN': 19844110}

In [ ]:
# Trouvez des étudiants agés de 20 ans et qui étudient les mathématiques
for doc in collection.find({"$and": [{"age": 19}, {"matiere": "Math"}]}):
    print(doc)

{'_id': ObjectId('672cccc822125b8bb0ec5b07'), 'name': 'Youssef', 'age': 19, 'matiere': ['Math', 'Science']}

In [ ]:
# Trouvez des etudiants agés de 22 ans ou qui étudient les sciences
for doc in collection.find({"$or": [{"age": 22}, {"matiere": "Science"}]}):
    print(doc)

{'_id': ObjectId('672cccc822125b8bb0ec5b06'), 'name': 'Rayen', 'age': 22, 'matiere': ['History', 'Art']}
{'_id': ObjectId('672cccc822125b8bb0ec5b07'), 'name': 'Youssef', 'age': 19, 'matiere': ['Math', 'Science']}

In [73]:
# Trouvez des etudiants agés de 10 à 25 ans et étudient les sciences
for doc in collection.find({"age": {"$gte": 10, "$lte": 25}, "matiere": "Science"}):
    print(doc)

{'_id': ObjectId('672cccc822125b8bb0ec5b07'), 'name': 'Youssef', 'age': 19, 'matiere': ['Math', 'Science']}

In [46]:
# Trouvez des etudiants qui étudient à la fois les mathématiques et les sciences
for doc in collection.find({"matiere": {"$all": ["Math", "Science"]}}):
    print(doc)

{'_id': ObjectId('672cccc822125b8bb0ec5b07'), 'name': 'Youssef', 'age': 19, 'matiere': ['Math', 'Science']}

In [52]:
# Trouvez des etudiants qui étudient au moins deux matières
for doc in collection.find({"matiere.1": {"$exists": True}}):
    print(doc)

{'_id': ObjectId('672cc7af22125b8bb0ec5b05'), 'name': 'Ahmed', 'age': 20, 'matiere': ['Maths', 'Data Science']}
{'_id': ObjectId('672cccc822125b8bb0ec5b06'), 'name': 'Rayen', 'age': 22, 'matiere': ['History', 'Art']}
{'_id': ObjectId('672cccc822125b8bb0ec5b07'), 'name': 'Youssef', 'age': 19, 'matiere': ['Math', 'Science']}

In [58]:
# Trouver les etudiants dont les noms commencent par « B »
for doc in collection.find({"name": {"$regex": "^B"}}):
    print(doc)

{'_id': ObjectId('672cccc822125b8bb0ec5b08'), 'name': 'Badis', 'age': 30, 'CIN': 19844110}

### Sort

In [65]:
# Trier les etudiants par age dans l'ordre croissant
for doc in collection.find().sort("age", 1): # -1 ordre decroissant
    print(doc)

{'_id': ObjectId('672cccc822125b8bb0ec5b07'), 'name': 'Youssef', 'age': 19, 'matiere': ['Math', 'Science']}
{'_id': ObjectId('672cc7af22125b8bb0ec5b05'), 'name': 'Ahmed', 'age': 20, 'matiere': ['Maths', 'Data Science']}
{'_id': ObjectId('672cccc822125b8bb0ec5b06'), 'name': 'Rayen', 'age': 22, 'matiere': ['History', 'Art']}
{'_id': ObjectId('672cccc822125b8bb0ec5b08'), 'name': 'Badis', 'age': 30, 'CIN': 19844110}

### Limit

In [67]:
# Limiter les résultats à 2 documents
for doc in collection.find().limit(2):
    print(doc)

{'_id': ObjectId('672cc7af22125b8bb0ec5b05'), 'name': 'Ahmed', 'age': 20, 'matiere': ['Maths', 'Data Science']}
{'_id': ObjectId('672cccc822125b8bb0ec5b06'), 'name': 'Rayen', 'age': 22, 'matiere': ['History', 'Art']}

In [68]:
# Ignorez le premier document et récupérez les 2 suivants
for doc in collection.find().skip(1).limit(2):
    print(doc)

{'_id': ObjectId('672cccc822125b8bb0ec5b06'), 'name': 'Rayen', 'age': 22, 'matiere': ['History', 'Art']}
{'_id': ObjectId('672cccc822125b8bb0ec5b07'), 'name': 'Youssef', 'age': 19, 'matiere': ['Math', 'Science']}

### Projection : Récupération de champs spécifiques

In [70]:
# Récupérer uniquement les champs « name » et « age » de chaque etudiant
for doc in collection.find({}, {"name": 1, "age": 1, "_id": 0}):
    print(doc)

{'name': 'Ahmed', 'age': 20}
{'name': 'Rayen', 'age': 22}
{'name': 'Youssef', 'age': 19}
{'name': 'Badis', 'age': 30}

## Update de Documents

In [74]:
# Mettre à jour un seul document
collection.update_one({"name": "Badis"}, {"$set": {"age": 31}})

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff0000000000000011'), 'opTime': {'ts': Timestamp(1730991160, 1), 't': 17}, 'nModified': 1, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1730991160, 1), 'signature': {'hash': b'\xf0\x0e;\xb6\xf6\xc8G\x8b\xb1\xc2\xb6\t,\x85\xc3grH9$', 'keyId': 7397475757359890434}}, 'operationTime': Timestamp(1730991160, 1), 'updatedExisting': True}, acknowledged=True)

In [76]:
# Mettre à jour plusieurs documents
collection.update_many({"matiere": "Maths"}, {"$set": {"Note": "10"}})

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff0000000000000011'), 'opTime': {'ts': Timestamp(1730991247, 1), 't': 17}, 'nModified': 1, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1730991247, 1), 'signature': {'hash': b'\xcb\xd5=\xed\x9b\xdbn\x16v[\xd6\xa5!\x1dL\xc2\xfa\x1c\x8c\x1e', 'keyId': 7397475757359890434}}, 'operationTime': Timestamp(1730991247, 1), 'updatedExisting': True}, acknowledged=True)

## Suppression de documents

In [ ]:
# nous allons ajouter l'etudiant foulen et le supprimer
etudiant = {"name": "Foulen", "age": 50, "subjects": ["Maths", "Science"]}
# insertion
collection.insert_one(etudiant)
# supp un seul doc
collection.delete_one({"name": "Foulen"})
# supp multiple docs
collection.delete_many({"age": {"$gte": 50}})

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff0000000000000011'), 'opTime': {'ts': Timestamp(1730991598, 5), 't': 17}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1730991598, 5), 'signature': {'hash': b'\xf8\xb1w\x8d\xb8\xd5zT\xca\x99\xed\xee\xc6\x9b\xae\xd8;\xc1?_', 'keyId': 7397475757359890434}}, 'operationTime': Timestamp(1730991598, 5)}, acknowledged=True)

## De Mongo vers Pandas

Nous allons apprendre comment exploiter et charger les données de notre `mongoDB cluster` avec `Pandas`

In [83]:
import pandas as pd

In [85]:
# init le database
db = client["my_data"]
# init la collection
collection = db["students"]

In [88]:
# utiliser le find pour extraire tous les docs
data = collection.find()
# init notre dataframe
df = pd.DataFrame(list(data))

In [90]:
# visualiser notre pandas dataframe
df.head()

,_id,name,age,matiere,Note,CIN
0,672cc7af22125b8bb0ec5b05,Ahmed,20,"[Maths, Data Science]",10,NaN
1,672cccc822125b8bb0ec5b06,Rayen,22,"[History, Art]",NaN,NaN
2,672cccc822125b8bb0ec5b07,Youssef,19,"[Math, Science]",10,NaN
3,672cccc822125b8bb0ec5b08,Badis,31,NaN,NaN,19844110.0

In [93]:
# fermer le monogdb client
client.close()